{% extends "Home/base.html" %}
{% block TITULO %}
  Busca a Tu Cliente
{% endblock TITULO %}
{% block CONTENIDO %}
<form style="max-width: 400px;margin: 0 auto;" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button style="background-color: #007bff;color: #fff;padding: 10px 20px;border: none;border-radius: 4px;  cursor: pointer;" type="submit">Buscar</button>
</form>

<a href="{% url "Cliente:clientes" %}">Ver mis clientes ya Creados</a>
<a href="{% url "Cliente:crear_cliente" %}">Crear nuevo cliente</a>
{% endblock CONTENIDO %}